body {
  background-color: #7BEFBB;
  color: #ffffff;
  font-family: Helvetica, sans-serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 75px;
  margin: 50px auto;
  width: 98%;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #0DB76E;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  body {
    font-size: 34px;
    line-height: 40px;
    margin: 20px auto;
  }
}

h3 {
  text-align: center;
  margin-top: 10px;
  font-size: 50px;
}

h6 {
  text-align: left;
  font-size: 32px;
  margin-top: -10px;
}

p { 
  margin-top: -75px;
  text-align: left;
  font-size: 16px;
  line-height: 75px;
}

.matchpad img {
  float: left;
  margin:  20px 0px 15px 15px;
}

.matchpad p {
  position: relative;
  top: 10px;
  float: left;
  margin: -50px 0px -45px 15px;
}

.quotes img {
  float: left;
  margin:  20px 0px 15px 15px;
}

.quotes p {
  position: relative;
  top: 10px;
  float: left;
  margin: -50px 0px -45px 15px;
}

.nywritingclub img {
  float: left;
  margin:  20px 0px 15px 15px;
}

.nywritingclub p {
  position: relative;
  top: 10px;
  float: left;
  margin: -50px 0px -45px 15px;
}

.itunes img {
  float: left;
  margin:  20px 0px 15px 15px;
}

.itunes p {
  position: relative;
  top: 10px;
  float: left;
  margin: -50px 40px -45px 15px;
}


