body {
  background-color: #7BEFBB;
  color: #ffffff;
  font-family: Helvetica, sans-serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 75px;
  margin: 50px auto;
  width: 90%;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #0DB76E;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  body {
    font-size: 34px;
    line-height: 40px;
    margin: 20px auto;
  }
}

h3 {
  text-align: center;
  margin-top: 10px;
  font-size: 50px;
}

h6 {
  text-align: left;
  font-size: 24px;
  margin-top: -10px;
}

p { 
  margin-top: -75px;
  text-align: left;
  font-size: 14px;
  line-height: 75px;
}

.main {
  position: relative;
  margin-top: -200px;
}

.project-desc {
  white-space: nowrap;
  padding: 0px;
  float: right;
    margin: 40px 70px 40px 40px;
    width: 60%;
}

.project-image { 
  white-space: nowrap;
  padding: 0px;
  float: left; 
    margin: 5px 25px 5px 5px;
    display: inline-block;
    }



.na2ure {
  float: right;
  margin: 50px 0px 50px 50px;
}