body {
  background-color: #7BEFBB;
  color: #ffffff;
  font-family: Helvetica, sans-serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 75px;
  margin: 50px auto;
  width: 90%;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #0DB76E;
  text-decoration: none;
}

h3 {
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
}

h6 {
  text-align: left;
  font-size: 32px
}

p { 
  margin-top: -45px;
  text-align: left;
  font-size: 14px;
}

.welcome img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}