body {
  background-color: #7BEFBB;
  color: #ffffff;
  font-family: Helvetica, sans-serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 75px;
  margin: 50px auto;
  width: 90%;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #0DB76E;
  text-decoration: none;
}
img {
  color: #0DB76E;

}