body {
  background-color: #bcc7e0;
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 48px;
  color: #017ab2;
  text-align: center;
}

.zindagi-na-milegi-dobara {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 45em;
  margin: 1em auto;
}

.zindagi-na-milegi-dobara h2 {
  margin-left: 20px;
  text-align: center;
}

.zindagi-na-milegi-dobara h2 span a {
  color: #fc9a07;
  text-decoration: none;
}

.zindagi-na-milegi-dobara h2 span a:hover {
  text-decoration: underline;
}

hr {
  display: block;
  width:65%;
  margin:0 auto;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}

.zindagi-na-milegi-dobara .image {
  margin-top: 30px;
  margin-left: 20px;
}

.zindagi-na-milegi-dobara .video {
  margin-top: 30px;
  margin-left: 20px;
}

.znmd {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 45em;
  margin: 1em auto;
}

.znmd .image {
  margin-top: 30px;
  margin-left: 20px;
  width: 28%;
}

.znmd .image img{
  width: 160%;
}

.znmd .video {
  margin-top: 30px;
  margin-left: 20px;
}

.dear-zindagi {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 45em;
  margin: 1em auto;
}

.dear-zindagi h2 span a {
 color: #010070;
 text-decoration: none;
}

.dear-zindagi h2 span a:hover {
  color: #010070;
  text-decoration: underline;
}


.dear-zindagi .image {
  width: 50%
}

.dear-zindagi .image img {
  margin-left: -20px;
  width: 110%;
}

.rang-de-basanti {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 45em;
  margin: 1em auto;
}

.rang-de-basanti h2 {
  margin-left: 50px;
  text-align: center;
}

.rang-de-basanti h2 span a {
  color: #f4d742;
  text-decoration: none;
}

.rang-de-basanti h2 span a:hover {
  color: #f4d742;
  text-decoration: underline;
}

.rang-de-basanti .image {
  width: 38%
}

.rang-de-basanti .image img {
  margin-left: 30px;
  width: 100%;
}

.om-shanti-om {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 45em;
  margin: 1em auto;
}

.om-shanti-om h2 {
  margin-left: 180px;
  text-align: center;
}

.om-shanti-om h2 span a {
  color: #d8540d;
  text-decoration: none;
}

.om-shanti-om h2 span a:hover {
  color: #f7a16f;
  text-decoration: underline;
}

.om-shanti-om .image {
  width: 50%;
}

.om-shanti-om .image img {
   margin-top: 18px;
   margin-left: 10px;
   width: 100%;
}

.om-shanti-om .video {
  margin-top: 50px;
  margin-left: 30px;
}
